<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12">
		            <div class="col-md-6 col-xs-12 col-sm-5 left_top_icon_Para">
		            	<span><img src="images/phone.png"><a href="#"><span>We're here to help! Contact us anytime...</spa></a></span>
		            </div>		        	
		        </div>		    	
		    </div>
		</div>
	</div>
</div>	
<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12 welcome_text">
		            <h1>CLASS NAME</h1> 
		            <img src="images/current_clas.png" name="" id="" alt="">     	
		        </div>		    	
		    </div>
		</div>
	</div>
</div>	
<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12 form_section">
		            <div class="col-md-10 col-md-offset-1 form_heading">
		            	<h2>Broadcast a Message</h2>
		            </div>
		            <div class="col-md-10 col-md-offset-1">
		                <form>
						  <div class="form-group ">						   
						  	<div class="col-md-12 col-xs-12 col-sm-12 table_main">
						  		<div class="col-md-9 col-xs-6 col-sm-8 stu_name_side">
						  			<input type="text" class="form-control text_field" rows="5" id="name" aria-describedby="name" placeholder="Student name">	
						  		</div>
						  		<div class="col-md-3 col-xs-6 col-sm-4 select_Stu">
						  			<a href="#"><i>SELECT ALL STUDENTS</i></a>
						  		</div>
						  	</div>
						    					    
						  </div>
						  <div class="form-group ">
						   <input type="text" class="form-control text_field" id="message-title" aria-describedby="message-title" placeholder="Message Title">	
						  </div>
						  
						  <div class="form-group">						    
						    <textarea class="form-control text_area" id="Text-area" rows="10" placeholder="Message"></textarea>
						  </div>
						  <div class="col-md-12 col-sm-12 col-xs-12 btn_sec">
						  <button type="submit" class="btn btn-primary save_btn">SAVE AS A DRAFT</button>		  
						  <button type="submit" class="btn btn-primary send_btn">SEND</button>
						  </div>
						</form>		            	
		            </div>    	
		        </div>		    	
		    </div>
		</div>
	</div>
</div>	
<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12 stu_list">
		            <div class="col-md-10 col-md-offset-1 stu_list_heading">
		            	<h2>Enrolled Students List</h2>
		            </div>
		            <div class="col-md-10 col-md-offset-1 stu_list_data">
		                <div class="col-md-12 col-xs-12 col-sm-12 srch_head">                  
		                	<i><input type="text" name="" placeholder="Search"></i>
		                </div>
		                <div class="col-md-12 col-xs-12 col-sm-12 stu_tabl">
		                <table class="table borderless">
						  <thead>
						    <tr>
						      
						    </tr>
						  </thead>
						  <tbody>
						    <tr class="bg_colr">
						      <th scope="row">
						      <div class="checkbox font_colr">
					            <label style="font-size: 2em">
					                <input type="checkbox" value="" >
					                <span class="cr"><i class="cr-icon fa fa-check"></i></span>STUDENT NAME
					            </label>
        						</div></th>
        					
						      <td class="bodr_leftright"><label class="stu_id font_colr">Phone#</label></td>
						      <td class="bodr_leftright"><label class="stu_id font_colr">Email Address</label></td>
						      
						    </tr>
						    <tr class="bg_colr">
						      <th scope="row">
						      <div class="checkbox font_colr">
					            <label style="font-size: 2em">
					                <input type="checkbox" value="" >
					                <span class="cr"><i class="cr-icon fa fa-check"></i></span>STUDENT NAME
					            </label>
        						</div></th>
						      <td class="bodr_leftright"><label class="stu_id font_colr">Phone#</label></td>
						      <td class="bodr_leftright"><label class="stu_id font_colr">Email Address</label></td>
						      
						    </tr>
						    <tr class="bg_colr">
						      <th scope="row">
						      <div class="checkbox font_colr">
					            <label style="font-size: 2em">
					                <input type="checkbox" value="" >
					                <span class="cr"><i class="cr-icon fa fa-check"></i></span>STUDENT NAME
					            </label>
        						</div></th>
						      <td class="bodr_leftright"><label class="stu_id font_colr">Phone#</label></td>
						      <td class="bodr_leftright"><label class="stu_id font_colr">Email Address</label></td>
						      
						    </tr>
						    <tr class="bg_colr">
						      <th scope="row">
						      <div class="checkbox font_colr">
					            <label style="font-size: 2em">
					                <input type="checkbox" value="" >
					                <span class="cr"><i class="cr-icon fa fa-check"></i></span>STUDENT NAME
					            </label>
        						</div></th>
						      <td class="bodr_leftright"><label class="stu_id font_colr">Phone#</label></td>
						      <td class="bodr_leftright"><label class="stu_id font_colr">Email Address</label></td>
						      
						    </tr>
						  </tbody>
						</table>
						</div>
		            </div>		            
		        </div>    
		    </div>
		</div>
	</div>
</div>	
<div class="drop_btn_section">
    <button type="submit" class="btn btn-primary DROP_btn">DROP SELECTED STUDENTS</button>
</div>

<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12 stu_list2">
		            <div class="col-md-10 col-md-offset-1 stu_list_heading2">
		            	<h2>Enroll Applicants</h2>
		            </div>
		            <div class="col-md-10 col-md-offset-1 stu_list_data">
		                <div class="col-md-12 col-xs-12 col-sm-12 srch_head">	              
		                	<i><input type="text" name="" placeholder="Search"></i>
		                </div>
		                <div class="col-md-12 col-xs-12 col-sm-12 stu_tabl">
		                <table class="table borderless">
						  <thead>
						    <tr>
						      
						    </tr>
						  </thead>
						  <tbody>
						    <tr class="bg_colr">
						      <th scope="row">
						      <div class="checkbox font_colr">
					            <label style="font-size: 2em">
					                <input type="checkbox" value="" >
					                <span class="cr"><i class="cr-icon fa fa-check"></i></span>STUDENT NAME
					            </label>
        						</div></th>
        					
						      <td class="bodr_leftright"><label class="stu_id font_colr">Phone#</label></td>
						      <td class="bodr_leftright"><label class="stu_id font_colr">Email Address</label></td>
						      
						    </tr>
						    <tr class="bg_colr">
						      <th scope="row">
						      <div class="checkbox font_colr">
					            <label style="font-size: 2em">
					                <input type="checkbox" value="" >
					                <span class="cr"><i class="cr-icon fa fa-check"></i></span>STUDENT NAME
					            </label>
        						</div></th>
						      <td class="bodr_leftright"><label class="stu_id font_colr">Phone#</label></td>
						      <td class="bodr_leftright"><label class="stu_id font_colr">Email Address</label></td>
						      
						    </tr>
						    <tr class="bg_colr">
						      <th scope="row">
						      <div class="checkbox font_colr">
					            <label style="font-size: 2em">
					                <input type="checkbox" value="" >
					                <span class="cr"><i class="cr-icon fa fa-check"></i></span>STUDENT NAME
					            </label>
        						</div></th>
						      <td class="bodr_leftright"><label class="stu_id font_colr">Phone#</label></td>
						      <td class="bodr_leftright"><label class="stu_id font_colr">Email Address</label></td>
						      
						    </tr>
						    <tr class="bg_colr">
						      <th scope="row">
						      <div class="checkbox font_colr">
					            <label style="font-size: 2em">
					                <input type="checkbox" value="" >
					                <span class="cr"><i class="cr-icon fa fa-check"></i></span>STUDENT NAME
					            </label>
        						</div></th>
						      <td class="bodr_leftright"><label class="stu_id font_colr">Phone#</label></td>
						      <td class="bodr_leftright"><label class="stu_id font_colr">Email Address</label></td>
						      
						    </tr>
						  </tbody>
						</table>
						</div>
		            </div>		            
		        </div>    
		    </div>
		</div>
	</div>
</div>	
<div class="enroll_btn_section">
    <button type="submit" class="btn btn-primary enroll_btn">ENROLL</button>
</div>

<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
			    <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12">
			        <div class="col-md-12  add_stu">
		            	<h2>Add a Student</h2>
		            </div>
			    	<div class="col-md-6  col-xs-12 col-sm-12">
			    		<form>
						  <div class="form-group ">						   
						    <input type="text" class="form-control text_field" rows="5" id="name" aria-describedby="name" placeholder="First Name">	    
						  </div>
						  <div class="form-group ">						   
						    <input type="text" class="form-control text_field" rows="5" id="name" aria-describedby="name" placeholder="Email">	    
						  </div>
						</form>  
			    	</div>
			    	<div class="col-md-6  col-xs-12 col-sm-12">
			    		<form>
						  <div class="form-group ">						   
						    <input type="text" class="form-control text_field" rows="5" id="name" aria-describedby="name" placeholder="Last Name">	    
						  </div>
						  <div class="form-group ">						   
						    <input type="text" class="form-control text_field" rows="5" id="name" aria-describedby="name" placeholder="Phone Number">	    
						  </div>
						</form>  
			    	</div>
			    </div>
		    </div>
		</div>
	</div>
</div>	
<div class="enroll_btn_section">
    <button type="submit" class="btn btn-primary enroll_btn">ADD</button>
</div>	
