<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12">
		            <div class="col-md-6 col-xs-12 col-sm-5 left_top_icon_Para">
		            	<span><img src="../assets/images/phone.png"><a href="#"><span>We're here to help! Contact us anytime...</span></a></span>
		            </div>		        	
		        </div>		    	
		    </div>
		</div>
	</div>
</div>	
<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12 welcome_text">
		            <h1>WELCOME MRS.DOE!</h1>      	
		        </div>		    	
		    </div>
		</div>
	</div>
</div>	
<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-6 col-sm-12 three_tabs">

		            <ul class="nav nav-tabs" role="tablist">
					    <li role="presentation" ><a href="#" aria-controls="" role="tab" data-toggle="tab">publish a New Class</a></li>
					    <li role="presentation" class="active "><a href="#" aria-controls="" role="tab" data-toggle="tab">View/Manage Classes</a></li>
					    <li role="presentation" class=""><a href="#" aria-controls="" role="tab" data-toggle="tab">Calender</a></li>						    
					  </ul>
	
		        </div>		    	
		    </div>
		</div>
	</div>
</div>	

<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12 sort-by">
                     <label>Sort By:</label>
                     <i><input type="text" name="" class="date_place" placeholder="Date"></i><img src="../assets/images/blue_icon.png"> 	
		        </div>		    	
		    </div>
		</div>
	</div>
</div>	

<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12 three_classes_part">
		            <div class="col-md-12 col-xs-12 col-sm-12">
			            <div class="col-md-3 col-xs-9 col-sm-3 class_data">
			                <h2><i>CURRENT CLASSES</i></h2>	
			                <div class="row">
			                <div class="col-lg-12 icon_part">Lorem Ipsum Dolor Sit<img src="../assets/images/search_icon2.png"><span>23/03/16</span></div>
			                <div class="col-lg-12 icon_part">Lorem Ipsum Dolor Sit<img src="../assets/images/search_icon2.png"><span>23/03/16</span></div>
			                <div class="col-lg-12 icon_part">Lorem Ipsum Dolor Sit<img src="../assets/images/search_icon2.png"><span>23/03/16</span></div>
			                <div class="col-lg-12 icon_part">Lorem Ipsum Dolor Sit<img src="../assets/images/search_icon2.png"><span>23/03/16</span></div>
			                <div class="col-lg-12 icon_part">Lorem Ipsum Dolor Sit<img src="../assets/images/search_icon2.png"><span>23/03/16</span></div>	
			                <div class="col-lg-12 scroll_for_more"><p>Scroll for more</p><img src="../assets/images/down_arrow.png"></div>            	
			                </div>
			            </div>
			            <div class="col-md-3 col-xs-9 col-sm-3 class_data">
			            	<h2><i>DRAFT CLASSES</i></h2>
			            	<div class="row">
			                <div class="col-lg-12 icon_part">Lorem Ipsum Dolor Sit<img src="../assets/images/search_icon2.png"><span>23/03/16</span></div>
			                <div class="col-lg-12 icon_part">Lorem Ipsum Dolor Sit<img src="../assets/images/search_icon2.png"><span>23/03/16</span></div>
			                <div class="col-lg-12 icon_part">Lorem Ipsum Dolor Sit<img src="../assets/images/search_icon2.png"><span>23/03/16</span></div>
			                <div class="col-lg-12 icon_part">Lorem Ipsum Dolor Sit<img src="../assets/images/search_icon2.png"><span>23/03/16</span></div>
			                <div class="col-lg-12 icon_part">Lorem Ipsum Dolor Sit<img src="../assets/images/search_icon2.png"><span>23/03/16</span></div>
			                <div class="col-lg-12 scroll_for_more"><p>Scroll for more</p><img src="../assets/images/down_arrow.png"></div>	            	
			                </div>
			            </div>
			            <div class="col-md-3 col-xs-9 col-sm-3 class_data">
			            	<h2><i>COMPLETED CLASSES</i></h2>
			            	<div class="row">
			                <div class="col-lg-12 icon_part">Lorem Ipsum Dolor Sit<img src="../assets/images/search_icon2.png"><span>23/03/16</span></div>
			                <div class="col-lg-12 icon_part">Lorem Ipsum Dolor Sit<img src="../assets/images/search_icon2.png"><span>23/03/16</span></div>
			                <div class="col-lg-12 icon_part">Lorem Ipsum Dolor Sit<img src="../assets/images/search_icon2.png"><span>23/03/16</span></div>
			                <div class="col-lg-12 icon_part">Lorem Ipsum Dolor Sit<img src="../assets/images/search_icon2.png"><span>23/03/16</span></div>
			                <div class="col-lg-12 icon_part">Lorem Ipsum Dolor Sit<img src="../assets/images/search_icon2.png"><span>23/03/16</span></div>	
			                <div class="col-lg-12 scroll_for_more"><p>Scroll for more</p><img src="../assets/images/down_arrow.png"></div>            	
			                </div>
			            </div>
			        </div>
		        </div>		    	
		    </div>
		</div>
	</div>
</div>											
	




