<div class="all_pages_outr header_bg">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
			<div class="row header top-head">
				<div class="col-md-8 col-xs-7 col-sm-3 header_search">
					<div class="col-md-6">
					<form>
						<input type="text" class="form-control" >
					</form>
					</div>
					<!--<div class="col-md-6 logo text-center">
					<a href="#"><img src="assets/images/logo.png"></a>
					</div>-->
				</div>
				<!--<div class="col-md-3 col-xs-4 col-sm-4 logo text-center">
					
				</div>-->
				<div class="col-md-4 col-xs-4 col-sm-5 header_menus top-head-menus ">
					<nav class="navbar navbar-default">					 
					  <div class="container-fluid paddingleftright top-head-menus">
					    <div class="navbar-header">
						    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							       <span class="sr-only">Toggle navigation</span>
							       <span class="icon-bar"></span>
							       <span class="icon-bar"></span>
							       <span class="icon-bar"></span>
								</button>
							</div>	
							<div class="collapse navbar-collapse paddingleftright no-padding" id="bs-example-navbar-collapse-1">				    
								<ul class="nav navbar-nav">
									<li class="active"><a href="javascript:void(0)">About Us<span class="sr-only">(current)</span></a></li>
									<li><a href="javascript:void(0)">Register</a></li>
									<li><a href="javascript:void(0)" (click)="open(content)">Login</a></li>					      
								</ul>
					  	</div>
					  </div>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

  	<router-outlet></router-outlet>

	<template ngbModalContainer></template>

  <template #content let-c="close" let-d="dismiss">
		<div class="modal-header modl_head">
			<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
			</button>
			<h1 class="modl_welcm_txt">WELCOME</h1>
		</div>
		<div class="modal-body">
		    <div class="col-md-12 col-xs-12 col-sm-12">
		    	<img src="../assets/images/range_img.png" class="" alt="">  
		    </div>
			<div class="col-md-12 col-xs-12 col-sm-12 modl_full_width">
				<form>
				  <div class="form-group">				    
				    <input type="text" class="form-control" id="user_name" placeholder="User Name">			    
				  </div>
				</form>  
			</div>
			<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="col-md-6 col-xs-12 col-sm-12 modl_half_width1">
					<form>
					  <div class="form-group paddingbotm">				    
					    <input type="text" class="form-control" id="first_name" placeholder="First Name">
					  </div>
					  <div class="form-group paddingtop paddingbotm">				    
					    <input type="text" class="form-control" id="E-mail" placeholder="E-mail">
					  </div>
					  <div class="form-group paddingtop paddingbotm">				    
					    <input type="text" class="form-control" id="pwd" placeholder="Password">
					  </div>					 
				    </form>  
				</div>
				<div class="col-md-6 col-xs-12 col-sm-12 modl_half_width2">
					<form>
					  <div class="form-group paddingbotm">				    
					    <input type="text" class="form-control" id="last_name" placeholder="Last Name">
					  </div>
					  <div class="form-group paddingtop paddingbotm">				    
					    <input type="text" class="form-control" id="phone_number" placeholder="Phone Number">
					  </div>
					  <div class="form-group paddingtop paddingbotm">				    
					    <input type="text" class="form-control" id="reenter_pwd" placeholder="Re-enter password">
					  </div>					 
				    </form>  
				</div>
			</div>
		</div>
		<div class="modal-footer bordernone">
		    <div class="col-md-12 col-xs-4 col-sm-12 next_step_btn">
			    <button type="button" class="btn btn-primary">NEXT STEP</button>
			</div>
		</div>
	</template>


<div class="all_pages_outr footer_part">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="col-md-12 col-sm-12 col-xs-12 footer_content">
		        <div class="col-md-8 left_copyright">
		        	<span>Copyright</span>
		        </div>
		        <div class="col-md-4 right_logo">
		        	<img src="assets/images/wher_guru.png">
		        </div>
		    	
		    </div>
		</div>
	</div>
</div>





