<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12">
		            <div class="col-md-6 col-xs-12 col-sm-12 left_top_icon_Para">
		            	<span><img src="../assets/images/phone.png"><a href="#"><span>We're here to help! Contact us anytime...</span></a></span>
		            </div>		        	
		        </div>		    	
		    </div>
		</div>
	</div>
</div>	
<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12 welcome_text">
		            <h1>CLASS NAME</h1> 
		            <img src="../assets/images/current_clas.png" name="" id="" alt="">     	
		        </div>		    	
		    </div>
		</div>
	</div>
</div>	
<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">

		    </div>
		</div>
	</div>
</div>	
<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		    
		    </div>
		</div>
	</div>
</div>	
<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12">
		        	<div class="col-md-12 col-xs-12 col-sm-12">
		        	    <div class="form-group ">
						   <input type="text" class="form-control text_field" id="message-title" aria-describedby="message-title" placeholder="Math 101">	
						</div>
						<div class="form-group">						    
						    <textarea class="form-control text_area" id="Text-area" rows="7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique augue, tincidunt sagittis mi. Aenean dapi-bus, sapien sed lobortis rhoncus, arcu tortor dictum nisi, ac porttitor mauris turpis ut dui. Donec convallis mi sed dolor bibendum pretium..Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu tristique augue, tincidunt sagittis mi. Aenean dapibus, sapien sed lobortis rhoncus, arcu tortor dictum nisi, ac porttitor mauris turpis ut dui. Donec convallis mi sed dolor bibendum pretium... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu ..tristique augue, tincidunt sagittis mi. Aenean dapibus 
						    </textarea>
						  </div>
		        	</div>
		        </div>
		    </div>
		</div>
	</div>
</div>
<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12">		           
	                <div class="col-md-5 col-xs-12 col-sm-12 left_part">
	                	<div class="col-md-12 col-xs-12 col-sm-12 time_and_frequency">
	                		<h3>TIME & FREQUENCY:</h3>
							<div class="btn-group btn-group-vertical" data-toggle="buttons">
							    <ul>
							        <li>
								        <label class="btn active">
								          <input type="radio" name='gender1' checked><i class="colrwhite fa fa-circle-o fa-2x"></i><i class="colrwhite fa fa-dot-circle-o fa-2x"></i> <span class="colrwhite">Weekly</span>
								        </label>
                                      </li> 
                                      <li>
								        <label class="btn">
								          <input type="radio" name='gender1'><i class="colrwhite fa fa-circle-o fa-2x"></i><i class="colrwhite fa fa-dot-circle-o fa-2x"></i><span class="colrwhite">Bi-Weekly</span>
								        </label>
                                      </li>
							    </ul>    
						    </div>
						    <div class="all_pages_outr">
								<div class="all_pages_inr">
									<div class="all_pages_cont">
									    <div class="row">
									        <div class="col-md-12 col-xs-12 col-sm-12 guru-manage-class_hr">
										        <hr> 
											</div>    
									    </div>
									</div>
								</div>
							</div>	
							<div class="all_pages_outr">
								<div class="all_pages_inr">
									<div class="all_pages_cont">
									    <div class="row">
									        <div class="col-md-12 col-xs-12 col-sm-12">	

									        	<div class="col-md-5 col-xs-4 col-sm-4 days_btn">
									        	  	<div class="col-md-12 col-xs-12 paddingleftright">	       
														<div class="input-group">							  
															  <input type="text" class="form-control font_size" placeholder="Monday" >
														</div>
													</div>													
                                                </div>

                                                <div class="col-md-6 col-xs-7 col-sm-4 timer_btn">
                                                	<div class="col-md-4 col-xs-4 paddingleftright">
                                                		<div class="input-group paddingleft">			  
														  <input type="text" class="form-control font_size" placeholder="13">
														</div>
                                                	</div>
                                                	<div class="col-md-1 col-xs-1 extra"></div>
	                                                <div class="col-md-2 col-xs-2 paddingleftright font_size">
	                                                	:
                                                	</div>
                                                	<div class="col-md-1 col-xs-1 extra"></div>
                                                	<div class="col-md-4 col-xs-4 paddingleftright">
                                                		<div class="input-group paddingleft">				  
														  <input type="text" class="form-control font_size" placeholder="00">
														</div>
                                                	</div>
                                                </div>
											</div>    
									    </div>
									</div>
								</div>
							</div>	
	                	</div>
                        <div class="all_pages_outr">
							<div class="all_pages_inr">
								<div class="all_pages_cont">								 
			                        <div class="col-md-12 col-xs-12 col-sm-12 start_end_date">
			                            <div class="col-md-12 col-xs-12 col-sm-12 paddingleft2 start_div">
				                            <h4>START DATE:</h4> 
				                          <div class="col-md-3 start_date">
				                            12
				                          </div>
				                          <div class="col-md-1"></div>
				                          <div class="col-md-3 start_date">
				                            05
				                          </div>
				                          <div class="col-md-1"></div>
				                          <div class="col-md-3 start_date">
				                            12
				                          </div>
			                            </div>				                        
				                        <div class="col-md-12 col-xs-12 col-sm-12 paddingleft2 end_div">
				                            <h4>END DATE:</h4> 
				                          <div class="col-md-3 start_date">
				                            12
				                          </div>
				                          <div class="col-md-1"></div>
				                          <div class="col-md-3 start_date">
				                            08
				                          </div>
				                          <div class="col-md-1"></div>
				                          <div class="col-md-3 start_date">
				                            2016
				                          </div>
				                        </div>					                     
							        </div>								  
							    </div>
						    </div>
						</div>
	                </div>
	                <div class="col-md-7 col-xs-12 col-sm-12 right_part ">
	                    <div class="col-md-12 col-xs-12 col-sm-12 location_map ">
	                    	<h3>LOCATION:</h3>
	                    	<div class="form-group ">
							   <input type="text" class="form-control location_text" id="message-title" aria-describedby="message-title" placeholder="Lorem Ipsum St">	
							</div>
							<div class="form-group ">
							   <input type="text" class="form-control location_text" id="message-title" aria-describedby="message-title" placeholder="Unit 12, State, 60614">	
							</div>
	                    </div>  		                	
	                </div>		            			            
		        </div>
		    </div>
		</div>
	</div>
</div>	
<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="col-md-12 col-xs-12 col-sm-12 bac_nex_btn">
		    	<button type="submit" class="btn btn-primary bac_btn">BACK</button>		  
				<button type="submit" class="btn btn-primary next_btn">NEXT</button>
		    </div>
		</div>
	</div>
</div>			        		    