<div class="all_pages_outr banner_section">	
 
	<div class="all_pages_inr">
		<div class="all_pages_cont">
			<div class="banner_content_cont main-cont">
				<div class="col-md-9 col-xs-12 col-sm-12 search-banner-text">
					<div class="col-md-12 col-xs-12 col-sm-12 left_srch_section text-center">
						<img src="assets/images/search_for.png" name="" class="">									
					</div>
				</div>
				<div class="col-md-3 col-xs-12 col-sm-12 right_side_content">
					<div class="col-md-12 col-xs-12 col-sm-12 social_div">
			            <div class="col-md-4 col-xs-4 col-sm-12 social_icon ">
		          		    <a href="#"><img src="assets/images/fb1.png" class="icon_img" name=""></a> 
		          		</div> 
		          		<div class="col-md-8 col-xs-8 col-sm-12 social_icon courses">
		          		    <span>LIKES<br></span>
		          		    <p>77324</p>
		          		</div>
			        </div>

			        <div class="col-md-12 col-xs-12 col-sm-12 social_div">
			            <div class="col-md-4 col-xs-4 col-sm-12 social_icon ">
		          		    <a href="#"><img src="assets/images/twitter.png" class="icon_img" name=""></a> 
		          		</div> 
		          		<div class="col-md-8 col-xs-8 col-sm-12 social_icon courses">
		          		    <span>FOLLOWERS<br></span>
		          		    <p>48500</p>
		          		</div>
			        </div>
                     
              		<div class="col-md-12 col-xs-12 col-sm-12 social_div">
			            <div class="col-md-4 col-xs-4 col-sm-12 social_icon ">
		          		    <a href="#"><img src="assets/images/publish_couses.png" class="icon_img" name=""></a> 
		          		</div> 
		          		<div class="col-md-8 col-xs-8 col-sm-12 social_icon courses ">
		          		    <span>PUBLISHED COURSES<br></span>
		          		    <p>2820</p>
		          		</div> 
				    </div>
                    
              		<div class="col-md-12 col-xs-12 col-sm-12 social_div">
			            <div class="col-md-4 col-xs-4 col-sm-12 social_icon ">
		          		    <a href="#"><img src="assets/images/students.png" class="icon_img" name=""></a> 
		          		</div> 
		          		<div class="col-md-8 col-xs-8 col-sm-12 social_icon courses ">
		          		    <span>STUDENTS<br></span>
		          		    <p>23078</p>
		        	    </div>
				    </div>	
				</div>
			</div>
		</div>
	</div>
</div>	

<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">	
            <div class="col-md-12 col-xs-12 col-sm-12 how_doesit_work_sec">
                <div class="col-md-5 col-sm-12 col-xs-12 heading_tag">
            	<h1>HOW DOES IT WORK?</h1>
            	</div>
            	<div class="col-md-7 col-sm-12 col-xs-12 paragraph_tag">
            	<p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit con-sequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulpu 
                </p>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 main_div_for_HDIW"> 

					  <!-- Nav tabs -->
					  <ul class="nav nav-tabs both_heading" role="tablist">
					    <li role="presentation" class="active student_tab"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Student</a></li>
					    <li role="presentation" class="presentation_tab"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Educator</a></li>					    
					  </ul>

					  <!-- Tab panes -->
					  <div class="col-md-12 col-sm-12 col-xs-12" style="position:relative;">
					    <div class="dott_img">
                          <img src="assets/images/top_dotts.png" class="top_dott_img" name="" alt="">   
					  	  <div class="col-md-6 col-sm-12 col-xs-12 register_side">
					  	  	<img src="assets/images/register.png" class="" name="" alt="">
					  	  	<h2>01</h2>
					  	  	<p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor quis bibendum auctor. </p>
					  	  </div>
					  	  
					  	  <div class="col-md-6 col-sm-12 col-xs-12 publish-side">
					  	  	<img src="assets/images/publish.png" class="" name="" alt="">
					  	  	<h2>02</h2>
					  	  	<p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor quis bibendum auctor. </p>
					  	  </div>					  	  
					  	</div>  
					  </div>
					  <div class="col-md-12 col-sm-12 col-xs-12 enrolled_bottom">
					    <div class="second_row_dott_img">                           
					     <img src="assets/images/right_dotts.png" class="right_dott_img" name="" alt="">

					  	    <img src="assets/images/enroll.png" class="" name="" alt="">
					  	  	<h2>03</h2>
					  	  	<p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor quis bibendum auctor. Lorem 1psum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis biben  </p>
					  </div>
					  <div class="left_side_dott_div">
					  <img src="assets/images/left_dotts.png" class="left_dott_img" name="" alt="">
					  </div>
                      </div>                	
                </div>
            </div>
		</div>
	</div>
</div>	

<div class="all_pages_outr how_does_it_benefit">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
           <div class="col-md-12 col-sm-12 col-xs-12 paddingtopbottom">
               <div class="col-md-6 col-sm-12 col-xs-12 heading_tag_benfit">
            	    <h1>HOW DOES IT BENEFIT</h1>
            	</div>
            	<div class="col-md-6 col-sm-12 col-xs-12 paragraph_tag_banefit">
            	    <ul>
						<li><span class="col-md-1 col-xs-1 col-sm-1 padngleftrgttop spn_ptop"><img src="assets/images/tick_mark.png"></span><p class="col-md-11 col-xs-11 col-sm-11 padngleftrgt para_ptop">Publish courses to big audience with the click of a button</p></li>
						<li><span class="col-md-1 col-xs-1 col-sm-1 padngleftrgttop spn_ptop"><img src="assets/images/tick_mark.png"></span><p class="col-md-11 col-xs-11 col-sm-11 padngleftrgt para_ptop">Fill up classes quick</p></li>
						<li><span class="col-md-1 col-xs-1 col-sm-1 padngleftrgttop spn_ptop"><img src="assets/images/tick_mark.png"></span><p class="col-md-11 col-xs-11 col-sm-11 padngleftrgt para_ptop">Calender that manages your schedule</p></li>
						<li><span class="col-md-1 col-xs-1 col-sm-1 padngleftrgttop spn_ptop"><img src="assets/images/tick_mark.png"></span><p class="col-md-11 col-xs-11 col-sm-11 padngleftrgt para_ptop">Broadcast messages to your class in snap</p></li>
            	    </ul>
                </div>           	
           </div>
        </div>
	</div>
</div>	

<!-- <div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
           <div class="col-md-12 col-sm-12 col-xs-12 ">
               <div class="col-md-10 col-md-offset-1"> 
               <h3>Bulleting Board</h3>			 
			    <div class="col-md-12 col-xs-12 col-sm-12">
			      <div class="carousel slide multi-item-carousel" id="theCarousel">
			        <div class="carousel-inner">
			          <div class="item active">
			            <div class="col-xs-5"><a href="#1"><img src="assets/images/slider_img.jpg" class="img-responsive"></a><p></p></div>
			          </div>
			          
			          <div class="item">
			            <div class="col-xs-5"><a href="#1"><img src="assets/images/slider_img.jpg" class="img-responsive"></a></div>
			          </div>
			          
			        </div>
			        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
			        <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
			      </div>
			    </div>				
               </div>
           </div>
        </div>
	</div>
</div> -->

<div class="all_pages_outr back_img outr_aboutus">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="col-md-12 col-sm-12 col-xs-12 icons_part">
                <div class="col-md-7 col-sm-12 col-xs-12 aboutus_left_part">
                   <h1>ABOUT US</h1>
                   <div class="col-md-6 col-sm-12 col-xs-12 about_left_img_part">
                   	  <img src="assets/images/few_words.png" class="" name="" alt="">                   	  
                   </div>
                   <div class="col-md-5 col-sm-12 col-xs-12 about_left_para_part">
                   	   <p>We are a group of people who strong-ly believe education is the single great-est tool for success and peace in the world. ACCESS to education should be everyone's birth right and it should be </p>
                   </div>

                </div>
                <div class="col-md-5 col-sm-12 col-xs-12 social_icons_part padding-nil">
                    <div class="col-md-12 col-sm-12 col-xs-12 about_menu_part">
                        <ul>
                             <li routerLink="/user-profile"><a href="#"><img src="assets/images/address.png"></a>Address</li>
                             <li routerLink="/student-list"><a href="#"><img src="assets/images/administration.png"></a>Administration</li>
                             <li routerLink="/contact-us"><a href="#"><img src="assets/images/contact.png"></a>Contact info</li>
                        </ul>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 social_media_part ">
                    	<ul>
                    		<li><img src="assets/images/social_media.png">Social media</li>
                    	</ul>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 social_icon_part ">
                    	<ul>
                    		<li><a href="#"><i class="fa fa-facebook"></i></a></li>                    
                    		<li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    		<li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                    		<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    	</ul>
                    </div>


                </div>
		    </div>
		</div>
	</div>
</div>	