<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-5 left_top_icon_Para">
		            <span><img src="../assets/images/phone.png"><a href="#"><span>We're here to help! Contact us anytime...</span></a></span>
		        </div>		        			        		    	
		    </div>
		</div>
	</div>
</div>	
<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12 ">
			        <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12 back_icon_part">
			        	<img src="../assets/images/left_arrow_icon.png"><a href="#">BACK</a>
			        </div>
			    </div>    
		    </div>
		</div>
	</div>
</div>	
<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12 ">
			        <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12 detail_page_hr">
			            <hr>
			        </div>
			    </div>    
		    </div>
		</div>
	</div>
</div>	
<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12"> 
			        <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12 cls_name_calender_sec">
			        	<div class="col-md-4 col-xs-12 col-sm-12 calender_part">
			        		<img src="../assets/images/calender.png">
			        	</div>
			        	<div class="col-md-8 col-xs-12 col-sm-12 cls_name_info_part">
			        	    <div class="col-md-12 col-xs-12 col-sm-12">
				        		<h1>CLASS NAME</h1>
				        		<img src="../assets/images/register_cls_img.png">
	                        </div>
	                        <div class="col-md-12 col-xs-12 col-sm-12 short_info_div">
	                        	<span>short info:</span>
	                        	<p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, </p>
	                        </div>
			        	</div>
			        </div>
			    </div>    
		    </div>
		</div>
	</div>
</div>	
<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12 ">
			        <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12 detail_page_hr">
			            <hr>
			        </div>
			    </div>    
		    </div>
		</div>
	</div>
</div>	
<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12">    
				    <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12 form_part_section">
				    	<div class="col-md-4 col-xs-12 col-sm-12"> 		
				    		<div class="col-md-12 col-xs-12 col-sm-12 bg_img">
				    			<h2>jonathan Doe</h2>
				    			<span>Course provider</span>
				    		</div>
				    		<div class="col-md-12 col-xs-12 col-sm-12 social_icon_sec">
				    			<ul>
					    			<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					    			<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					    			<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				    		    </ul>
				    		</div>
				    		
				    	</div>
				    	<div class="col-md-4 col-xs-7 col-sm-10 paddingright">
				    		<div class="input-group form_width">					  
							  <input type="text" class="form-control plcholdr_colr" placeholder="Name" aria-describedby="basic-addon1">
							</div>
							<div class="input-group form_width">					  
							  <input type="text" class="form-control plcholdr_colr" placeholder="Email" aria-describedby="basic-addon1">
							</div>
							<div class="input-group form_width">					  
							  <input type="text" class="form-control plcholdr_colr" placeholder="Address" aria-describedby="basic-addon1">
							</div>
							<div class="input-group form_width bordernone">					  
							  <input type="text" class="form-control paddingleft plcholdr_colr" placeholder="Associated with the following courses" aria-describedby="basic-addon1">
							</div>
							<div class="input-group form_width">					  
							  <input type="text" class="form-control plcholdr_colr" placeholder="Course name" aria-describedby="basic-addon1"><span class="input-group-addon rightaddon" id="basic-addon1"></span>
							</div>
				    	</div>
				    	<div class="col-md-1 paddingleft checkbox_div">
				    		<div class="checkbox font_colr">
							    <label style="font-size: 2em">
							        <input type="checkbox" value="" >
							            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
							    </label>
		        			</div>
		        			<div class="checkbox font_colr">
							    <label style="font-size: 2em">
							        <input type="checkbox" value="" >
							            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
							    </label>
		        			</div>
		        			<div class="checkbox font_colr">
							    <label style="font-size: 2em">
							        <input type="checkbox" value="" >
							            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
							    </label>
		        			</div>
		        			<div class="checkbox font_colr">
							    <label style="font-size: 2em">
							        <input type="checkbox" value="" >
							            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
							    </label>
		        			</div>
		        			<div class="checkbox font_colr">
							    <label style="font-size: 2em">
							        <input type="checkbox" value="" >
							            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
							    </label>
		        			</div>
				    	</div>
				    	<div class="col-md-3 col-xs-12 col-sm-12 perc_metr">
				    	    <span>Booking percentage in the last 12 months</span>
				    		<img src="../assets/images/perct_metr.png">
				    	</div>
				    </div>
				</div>    
		    </div>
		</div>
	</div>
</div>		    
<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12">	
			        <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12 detail_page_hr">
			            <hr>
			        </div>
			    </div>    
		    </div>
		</div>
	</div>
</div>
<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12">		       
			        <div class="col-md-10 col-md-offset-1 col-xs-12 col-sm-12 map_img">	
			            <img src="../assets/images/map_bg.jpg">
			        </div>
			    </div>    
		    </div>
		</div>
	</div>
</div>