.left_top_icon_Para{
	padding-bottom: 25px;
	padding-top: 25px;
}
.left_top_icon_Para span {
    display: inline-block;
    text-align: center;
    text-decoration: underline;
}
.left_top_icon_Para a{
    color: #000;
    font-size: 19px;
    text-decoration: underline;
}
.left_top_icon_Para img {
    padding-right: 10px;
}

.left_top_icon_Para a{
    color: #000;
    font-size: 19px;
    text-decoration: underline;
}
/* profile scetion css */
.profile_pic > img {
    padding-left: 50px;
}
.profile_section {
    padding-top: 35px;
}
.para_btn h1 {
    color: #6868c5;
    margin-top: 0 !important;
    padding-top: 10px;
    text-shadow: none;
    margin-bottom: 15px;
    font-size: 35px;
}
.para_btn {
    padding-left: 0;
}
.para_btn button {
    background-color: #6868c5;
    border-color: #6868c5 !important;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    padding: 21px 25px;
}
.profile_text img {
    padding-bottom: 10px;
}
.profile_text {
    padding-top: 94px;
    text-align: right;
}
.profile_text > a {
    color: #3a3a3a;
    font-size: 29px;
    text-decoration: underline;
}
.content_sec {
    padding-top: 35px;
}
.hr_line hr{
	border-color: #6868c5;
}
.hr_line {
    padding-bottom: 30px;
    padding-top: 30px;
}

/* form css */
.text_f{
    border-radius: 20px !important;
    font-size: 18px !important;
    height: 68px !important;
}
.form_botm_para p{
	text-align: center;
	font-size: 17px;
	color: #6868c5;
}
.form_botm_para {
    padding-top: 30px;
}
/* checkbox css */
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    /* border: 1px solid #a9a9a9; */
    border-radius:;
    width: 1.8em;
    height: 1.8em;
    float: left;
    margin-right: .5em;
    background: #fff;
   
    border: 1px solid;
}

.radio .cr {
    border-radius: 50%;
}
.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}
.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
.check_text{
	text-align: center;
	padding-bottom: 30px;
}

@media screen and (max-width: 991px){
.profile_pic {
    text-align: center !important;
    padding-left: 0 !important;
}
.para_btn h1 {
    text-align: center !important;
}
.para_btn{
	text-align: center;
}
.profile_pic img{
	padding-left: 0 !important;
}
.profile_text{
	text-align: center;
}
}
@media screen and (max-width: 400px){
.para_btn h1 {
	font-size: 25px !important;
}
}
@media screen and (max-width: 1200px){
.para_btn h1{
    font-size: 28px;
	}
}
