<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12">
		            <div class="col-md-6 col-xs-12 col-sm-5 left_top_icon_Para">
		            	<span><img src="../assets/images/phone.png"><a href="#"><span>We're here to help! Contact us anytime...</span></a></span>
		            </div>		        	
		        </div>		    	
		    </div>
		</div>
	</div>
</div>	
<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12">
		            <div class="col-md-6 col-xs-12 col-sm-8 profile_section">
		            	<img src="../assets/images/profile_pic.png"><h1>JANE DOE PROFILE</h1>
		            </div>
		            <div class="col-md-6 col-xs-12 col-sm-8">
		            	
		            </div>		        	
		        </div>		    	
		    </div>
		</div>
	</div>
</div>	