<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12">
		            <div class="col-md-6 col-xs-12 col-sm-5 left_top_icon_Para">
		            	<span><img src="../assets/images/phone.png"><a href="#"><span>We're here to help! Contact us anytime...</span></a></span>
		            </div>		        	
		        </div>		    	
		    </div>
		</div>
	</div>
</div>	
<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12 content_sec">
		            <div class="col-md-6 col-xs-12 col-sm-8 profile_section">
		                <div class="row">
		                    <div class="col-md-4 col-xs-12 col-sm-12 profile_pic">
							    <img src="../assets/images/profile_pic.png">
                            </div>
                            <div class="col-md-7 col-xs-12 col-sm-12 para_btn">
                            	<h1>JANE DOE PROFILE</h1>
                            	<i><button type="submit" class="btn btn-primary save_btn">Upload New Photo</button></i>
                            </div>
                        </div>
		            </div>
		            <div class="col-md-6 col-xs-12 col-sm-8 profile_text">
		            	<img src="../assets/images/edit_icon.png">		            	     		
		            	<a href="#">Edit profile</a>
		            </div>
		            <div class="row">
		            	<div class="col-md-12 col-xs-12 col-sm-12 hr_line">
		            	    <hr>		            		
		            	</div>
		            </div>		        	
		        </div>		    	
		    </div>
		</div>
	</div>
</div>	
<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12">
		        	<div class="col-md-6  col-xs-12 col-sm-12">
			    		<form>
						  <div class="form-group ">						   
						    <input type="text" class="form-control text_f" rows="5" id="name" aria-describedby="name" placeholder="User Name">	    
						  </div>
						  <div class="form-group ">						   
						    <input type="text" class="form-control text_f" rows="5" id="name" aria-describedby="name" placeholder="Full Name">	    
						  </div>
						  <div class="form-group ">						   
						    <input type="text" class="form-control text_f" rows="5" id="name" aria-describedby="name" placeholder="Password">	    
						  </div>
						  <div class="form-group ">						   
						    <input type="text" class="form-control text_f" rows="5" id="name" aria-describedby="name" placeholder="Email">	    
						  </div>
						</form>  
			    	</div>
			    	<div class="col-md-6  col-xs-12 col-sm-12">
			    		<form>
						  <div class="form-group ">						   
						    <input type="text" class="form-control text_f" rows="5" id="name" aria-describedby="name" placeholder="Street Address">	    
						  </div>
						  <div class="form-group ">						   
						    <input type="text" class="form-control text_f" rows="5" id="name" aria-describedby="name" placeholder="City">	    
						  </div>
						  <div class="form-group ">						   
						    <input type="text" class="form-control text_f" rows="5" id="name" aria-describedby="name" placeholder="State">	    
						  </div>
						  <div class="form-group ">						   
						    <input type="text" class="form-control text_f" rows="5" id="name" aria-describedby="name" placeholder="Zip Code">	    
						  </div>
						</form>  
			    	</div>
		        </div>
		    </div>
		</div>
	</div>
</div>	
<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12 form_botm_para">
		            <p>*Full address entries that are verified by whereisguru.com and will be put higher in the search list with an approved tag</p>
		        </div>
		    </div>
		</div>
	</div>
</div>		
<div class="all_pages_outr">
	<div class="all_pages_inr">
		<div class="all_pages_cont">
		    <div class="row">
		        <div class="col-md-12 col-xs-12 col-sm-12 check_text">
		        	<div class="checkbox font_colr">
			            <label style="font-size: 1.3em">
			                <input type="checkbox" value="" >
				            <span class="cr"><i class="cr-icon fa fa-check"></i></span>I agree to get my address verified
			            </label>
					</div>
		        </div>
		    </div>
		</div>
	</div>
</div>		            	    